[Unit]
Description=NearyOnTime@'%I' Discord Bot
After=default.target

[Service]
WorkingDirectory=/home/nearlybot/
ExecStart=python3 -u -m nearly_on_time %I
Type=idle
Restart=always
RestartSec=15
RestartPreventExitStatus=0
TimeoutStopSec=10

[Install]
WantedBy=default.target
